<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">

<th:block layout:fragment="content">
	<div class="pb-5"></div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="board">
				<div class="mb-5">
					<div class="title" th:text="${board.getTitle()}"></div>
					<div class="meta">
						<span th:text="${board.getNickname()}"></span> 
						at: <span th:text="${#dates.format(board.getCreatedAt(), 'yy.MM.dd HH:mm')}"></span>
						no: <span th:text="${board.getBoardId()}"></span> 
						views: <span th:text="${board.getViews()}"></span>
					</div>
				</div>
				<div>
					<div class="content" th:utext="${board.getContent()}"></div>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</th:block>
</html>