<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">

<th:block layout:fragment="content">
	<div class="pb-5"></div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<table class="table table-hover bg-white">
				<thead>
					<tr>
						<th style="width: 5%">id</th>
						<th style="width: 60%">title</th>
						<th style="width: 15%">writer</th>
						<th style="width: 15%">createdAt</th>
						<th style="width: 5%">views</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="board : ${boardList}">
						<td th:text="${board.getBoardId()}"></td>
						<td><a th:href="@{/board/{id}(id=${board.getBoardId()})}"
							th:text="${board.getTitle()}"></a></td>
						<td th:text="${board.getNickname()}"></td>
						<td
							th:text="${#dates.format(board.getCreatedAt(), 'yy.MM.dd HH:mm')}"></td>
						<td th:text="${board.getViews()}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-2"></div>
	</div>

	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 pb-2">
			<a href="./register" class="btn btn-info">Register</a>
		</div>
		<div class="col-md-2"></div>
</th:block>

</html>