<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">

<th:block layout:fragment="content">
    <style>
        .note-editor {
            margin-bottom: 12px;
        }
    </style>
    <script>
        $(function () {
            $('#summernote').summernote({
                lang: 'ko-KR',
                placeholder: 'Write content here',
                height: 200,
                minHeight: 200,
                maxHeight: 500,
                toolbar: [
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture']],
                    ['view', ['help']]
                ]
            });
        })
    </script>
    <div class="container-fluid bg-light">
        <div class="pb-5"></div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form method="post" action="/board/register">
                    <div class="input-group mb-2">
                        <span class="input-group-text">Title</span>
                        <input type="text" class="form-control" name="title" placeholder="Write title here">
                    </div>
                    <textarea id="summernote" name="content"></textarea>
                    <button type="submit" class="btn btn-info mb-2">Register</button>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <!-- load editor -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
</th:block>

</html>