<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">

<th:block layout:fragment="content">
	<div class="pb-5"></div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
		    <table class="table table-hover bg-white">
		        <tbody>
		            <tr>
		                <td>ID</td>
		                <td th:text="${member.getUid()}"></td>
		            </tr>
		            <tr>
                        <td>Nickname</td>
                        <td th:text="${member.getNickname()}"></td>
                    </tr>
                    <tr>
                        <td>CreatedAt</td>
                        <td th:text="${#dates.format(member.getCreatedAt(), 'yyyy.MM.dd HH:mm')}"></td>
                    </tr>
		        </tbody>
		    </table>
		</div>
		<div class="col-md-2"></div>
	</div>
</th:block>

</html>